/* (1)positioning: In apply.css, relative positioning is used in .box1,.box2,.box3(lineno.41)
(2)CSS3techniques: gradient (in lineno.70)
(2)CSS3techniques: boxshadow which is applied to nagivation bar (in line no.36 in design page)
(2)CSS3techniques: boxshadow with animation(line no.86 and 90 in design page)
(2)CSS3techniques: animation(start from line no. 80-93 in design page)
(3)css rules are put in  the .css files linked to the webpages by using link element
basiclayout.css grouped the css rules like basiclayout of webpage including,text formatting, header, navigation bar and footer
link can be found in lineno6 in each html file. */
* {
    margin: 0;
    padding: 0;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
/* header */
header{
    display: block;
    text-align: center;
    background-color: #d6d7db;
    background-image: url(../html/images/bg.png);
    background-repeat: no-repeat;
    margin: 0;
    overflow: hidden;
}
header h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(45, 45, 45);
}
/* navigation bar */
.navbar ul{
    list-style-type: none;
    background-color: #F28DB2;
    margin: 0;
    overflow: hidden;
    box-shadow: 0px 0px 5px grey;
}
.navbar li{
    float: left;
}
.navbar a{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 20px 10px;
}
.navbar a:link{
    color: #0D0D0D;
}
.navbar a:visited{
    color: #9d3a68;
}
.navbar a:hover{
    background-color: #ffffff;
}
.navbar a:active{
    color:white;
}
.maincontainer{
    background-color: #F5F5F5; 
    margin: 0 auto;
    width: 100%;
}
.welcome{
    text-align: center;
    margin: 10px;
    padding: 10px 0;
    border: 1px solid white;
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(255,194,220,1) 0%, rgba(189,219,255,1) 100%);
}
/* the element applied animation */
.designbox{
    text-align: center;
    padding: 20px;
    width: 50%;
    margin: 20px 25%;
}
/* animation of box shadow */
.designbox {
	        animation: shadowmove 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}
/* animation code */
 @keyframes shadowmove {
    0% {
        box-shadow: 0 0 #3e3e3e;
        transform: translateX(0) translateY(0);
    }
    100% {
        box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e, 4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e, 8px 8px #3e3e3e;
        transform: translateX(-8px) translateY(-8px);
    }
}
/* element applied transtion */
.detail{
   padding: 10px 50px;
   transition: transform 150ms ease-in-out;

}
/* transition */
.detail:hover{
    transform: scale(0.9) ;
}
/* paragraph */
.detail p {
        padding: 5px;
    line-height: 20px;
    text-shadow: 1px 1px white;
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(255,194,220,1) 0%, rgba(189,219,255,1) 100%);

}
/* footer */
footer{
    clear: both;
    text-align: center;
    background-color: #d6d7db;
    padding-top: 20px;
    padding-bottom: 20px;
}